<h3>HOME</h3>
<h4>Add new car: </h4>
<form name="newCar">
  <input ng-model="newCar.make" type="text" placeholder="Make">
  <input ng-model="newCar.model" type="text" placeholder="Model">
  <input ng-model="newCar.year" type="text" placeholder="Year">
  <input ng-model="newCar.mileage" type="text" placeholder="Mileage">
  <input ng-model="newCar.price" type="text" placeholder="Price">
  <button ng-click="addCar(newCar)">Add</button>
</form>
<p>
  There will be a list of all the cars and their properites below, using ng-repeat:
</p>
<table>
  <thead style="font-weight: bold;">
    <tr>
      <td>Make</td>
      <td>Model</td>
      <td>Year</td>
      <td>Mileage</td>
      <td>Price</td>
      <td>Details</td>
      <td>
        Delete?
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="car in cars">
      <td>{{car.make}}</td>
      <td>{{car.model}}</td>
      <td>{{car.year}}</td>
      <td>{{car.mileage | number}}</td>
      <td>{{car.price | currency}}</td>
      <td>
        <a ui-sref="car({id: car.$id})">Details</a>
      </td>
      <td>
        <button ng-click="deleteCar(car)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
